@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

/* *************************************** SCROLL_BAR ***************************************** */

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* *******************************************HEADER*********************************************** */

.top-nav {
  display: flex;
  height: 7vh;
  z-index: 1;
  width: 99vw;
  position: absolute;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5em;
}

.top-nav a {
  margin-right: 2em;
  padding-bottom: 5px;
  color: white;
  font-size: 14px;
  text-decoration: none;
  font-family: "Orbitron", sans-serif;
}

.top-nav a:hover {
  font-weight: 700;
  color: black;
  border-bottom: 3px solid rgb(0, 118, 164);
}

.logo {
  background-image: url(../images/logo1.png);
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
  width: 150px;
  height: 150px;
}

.wrap {
  animation: blinkTextCursor 500ms steps(44) infinite;
}

@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}

@media screen and (min-width: 800px) {
  .top-nav a {
    font-size: 2em;
  }

  .logo {
    width: 200px;
    height: 200px;
  }
}

/* ***************************************** HERO_CONT ******************************************** */

.header-cont {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  padding-left: 1.6em;
  align-items: center;
  overflow: hidden;
  background-image: linear-gradient(rgba(0, 0, 0, 0.32), rgba(0, 0, 0, 0.79));
}

.header-cont .wrap {
  font-size: 2em;
  letter-spacing: 0.187em;
  color: white;
  font-family: "Orbitron", sans-serif;
  text-transform: uppercase;
  z-index: 1;
}

.header-cont h1 a {
  text-decoration: none;
  color: white;
  font-family: "Orbitron", sans-serif;
}

.video-cont {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}

#vid {
  display: none;
  width: 100%;
  height: 100%;
}

#vid-mob {
  min-width: 100vw;
  max-height: 100vh;
}

@media screen and (min-width: 800px) {
  #vid-mob {
    display: none;
  }

  #vid {
    display: block;
  }
}

/* ********************************************SECTION_1**************************************** */

ion-icon {
  width: 60px;
  height: 60px;
  margin-bottom: 1.6em;
}

.sect_1 {
  background-color: #bababa50;
  padding: 7em 3em;
  text-align: center;
  letter-spacing: 0.07em;
}

.card-cont {
  display: flex;
  flex-direction: column;
  padding-top: 4em;
  gap: 34px;
  align-items: center;
}

.card {
  width: 300px;
  min-height: 250px;
  border-radius: 40px;
  font-size: 16px;
  background-color: white;
  text-align: center;
  padding: 2.8em;
}

.card h3 {
  letter-spacing: 0.16em;
  font-family: "Orbitron", sans-serif;
  font-size: 23px;
}

.two,
.four {
  color: white;
  background-color: black;
}

.sect_1 h1 {
  font-size: 30px;
  letter-spacing: 0.088em;
  font-family: "Orbitron", sans-serif;
  text-transform: uppercase;
}

.sect_1 > p {
  font-size: 18px;
}

@media screen and (min-width: 800px) {
  .sect_1 {
    height: 83vh;
  }
  .card-cont {
    height: 50vh;
    flex-direction: row;
    justify-content: space-evenly;
    margin: auto;
    gap: 50px;
  }

  .card {
    min-width: 300px;
    min-height: 250px;
    padding: 3em;
    font-size: 14px;
  }

  .one {
    width: 250px;
    padding: 1em 1.5em;
    height: 250px;
  }

  .two {
    width: 300px;
    height: 300px;
    padding: 2em;
  }

  .three {
    width: 330px;
    height: 330px;
    padding: 3.5em;
  }

  .four {
    width: 360px;
    height: 360px;
    padding: 3em;
  }

  .one:hover {
    animation: hover 1s ease-out;
  }

  .two:hover {
    animation: hover 1s ease-out;
  }

  .three:hover {
    animation: hover1 1s ease-out;
  }

  .four:hover {
    animation: hover1 1s ease-out;
  }

  @keyframes hover {
    100% {
      height: 280px;
    }
  }

  @keyframes hover1 {
    100% {
      height: 345px;
    }
  }
}

/* *******************************************SECTION_2****************************************** */

.sect_2 {
  padding: 4em 4em 2em 4em;
}

.sect_2 p {
  padding-top: 1em;
  font-size: 16px;
}

.pic-cont {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.pic-cont h2 {
  font-family: "Orbitron", sans-serif;
  font-size: 26px;
  letter-spacing: 0.1em;
}

.rot-logo {
  animation: rotating 2.3s linear infinite;
}

.pic-cont ion-icon {
  width: 45px;
  border-radius: 50%;
  padding-top: 1.5em;
  color: blueviolet;
}

.content-cont{
  padding-top: 5em;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.content-cont h2{
  font-size: 20px;
  letter-spacing: .2em;
  font-family: "Orbitron", sans-serif;
}

.mission{
  padding-bottom: 4em;
  border-bottom: 4px solid black;
}

.choose{
  width: 75vw;
}

@keyframes rotating {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (min-width: 800px) {
  .sect_2 {
    padding: 4em 7em 4em 7em;
  }

  .pic-cont h2 {
    font-size: 30px;
  }

  .pic-cont ion-icon {
    width: 55px;
  }

  .content-cont{
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .content-cont h2{
    font-size: 23px;
  }

  .mission{
    padding-top: 3em;
    padding-right: 5em;
    border-bottom: 0px;
    border-right: 4px solid black;
  }
}

/* ****************************************SECTION_4**************************************** */

.sect_4 center{
  display: flex;
  flex-direction: column;
  padding-bottom: 6em;
}

.sect_4 h2 {
  font-family: "Orbitron", sans-serif;
  font-size: 20px;
  letter-spacing: .1em;
  padding-bottom: 2em;
}

.sect_4 a {
  font-size: 16px;
  background-color: rgb(0, 118, 164);
  padding: .7em 1em;
  border-radius: 20px;
  color: white;
  font-family: "Orbitron", sans-serif;
}

@media screen and (min-width:800px) {
  .sect_4 center{
    height: 50vh;
    padding: 3em;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  .sect_4 h2{
    font-size: 30px;
  }
}

/* ********************************************FOOTER******************************************* */


.footer-dark {
  color:white;
  background-color: black;
}

.footer-dark h3 {
  margin-top:0;
  text-align: center;
  margin-bottom:12px;
  font-weight:bold;
  font-size:16px;
}

@media (max-width:767px) {
  .footer-dark .item:not(.social) {
    text-align:center;
    padding-bottom:20px;
  }
}

.footer-dark .item.text {
  margin-bottom:36px;
  text-align: center;
  padding: 0 3em;
}

@media (max-width:767px) {
  .footer-dark .item.text {
    margin-bottom:0;
  }
}

.footer-dark .item.text p {
  opacity:0.6;
  width: 70vw;
  margin: auto;
  margin-bottom: 2em;
}

.footer-dark .item.social {
  text-align:center;
}

@media (max-width:991px) {
  .footer-dark .item.social {
    text-align:center;
    margin-top:20px;
  }
}

.footer-dark .item.social > a {
  display:inline-block;
  text-align:center;
  margin:0 8px;
  color:#fff;
  opacity:0.75;
}

.social ion-icon{
  width: 30px;
  height: 30px;
}

.footer-dark .item.social > a:hover {
  opacity:0.9;
}

.footer-dark .copyright {
  text-align:center;
  padding-top:24px;
  opacity:0.3;
  font-size:13px;
  padding-bottom: 1em;
}

